entrypoint = "main.py"
modules = ["python-with-prybar-3.10:v2-20230925-77b13e4"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"
